.app-header {
  padding: 0.8em;
  margin-bottom: 1.6em;
  color: #fff;
  background: #333;
  box-shadow: 0 0 5px #222; }
  .app-header a {
    text-decoration: none;
    color: currentColor; }
  .app-header div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; }
